label,
input {
  display: block;
  width: 21%;
  padding: 5px;
  border-radius: 4px;
}
body {
  margin-left: 50px;
  margin-right: 50px;
}
button {
  margin-top: 10px;
  border: 1px solid lightgray;
  background-color: lightblue;
}
#answer {
  font-size: 30px;
  color: cadetblue;
}
